<script setup>
import ParentLayout from '@vuepress/theme-default/layouts/Layout.vue'
</script>

<script>
// import { usePageData, usePageFrontmatter } from '@vuepress/client'
// import type { DefaultThemePageFrontmatter } from '@vuepress/theme-default/lib/shared/index.js'

// import Home from '../components/Home.vue'
import Footer from '../components/Footer.vue'

// const frontmatter = usePageFrontmatter<DefaultThemePageFrontmatter>()
</script>

<template>
  <ParentLayout>
    <!-- <template #page>
      <Home v-if="frontmatter.home"/>
    </template> -->
    <template #page-bottom>
      <Footer :contact="false"/>
    </template>
  </ParentLayout>
</template>